/* Định dạng chung cho navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 0;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
  position: relative; 
  z-index: 10; 
}

/* Phần bên trái của navbar */
.navbar-left {
  font-size: 36px;
  font-weight: bold;
  padding-left: 200px;
}

/* Tên thương hiệu */
.brand-name .brand-black {
  color: black;
}

.brand-name .brand-red {
  color: #c63402;
}

.navbar-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  display: inline;
  margin: 0 2rem;
}

.navbar-links a {
  font-size: 16px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #d88453;
}

/* Phần bên phải của navbar */
.navbar-right {
  display: flex;
  align-items: center;
  padding-right: 200px;
}

/* Nút tìm kiếm */
.search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #333;
  position: relative;
  transition: color 0.3s, background-color 0.3s;
}

/* Khi hover vào nút tìm kiếm */
.search-button:hover {
  color: red; 
}

/* Container bao quanh nội dung Popover */
.popover-container {
  position: relative;
}

/* Nội dung Popover */
.popover-content {
  position: absolute;
  top: 2rem;
  right: -10rem;
  background-color: white;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 300px;
}

/* Thanh tìm kiếm bên trong Popover */
.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
}

.icon-search {
  background-color: #000000;
  padding: 8px; 
  font-size: 24px;
  color: #ffffff;
  cursor: pointer;
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center; 
  transition: background-color 0.3s, color 0.3s; 
}

/* Khi hover vào nút tìm kiếm bên trong Popover */
.icon-search:hover {
  color: #000000; 
  background-color: rgb(199, 199, 199);
}

/* Giỏ hàng */
.cart-icon {
  font-size: 24px;
  color: #333;
  text-decoration: none;
  margin-left: 20px;
  position: relative;
}

.cart-icon:hover {
  color: red;
}

.cart-badge {
  position: absolute;
  top: -3px;
  right: -5px;
  width: 15px;
  height: 15px;
  background-color: rgb(237, 67, 33);
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
/* Giỏ hàng */
.cart-icon {
  font-size: 24px;
  color: #333;
  text-decoration: none;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
}

.cart-icon:hover {
  color: red;
}

.cart-badge {
  position: absolute;
  top: -3px;
  right: -5px;
  width: 15px;
  height: 15px;
  background-color: rgb(237, 67, 33);
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* Đăng nhập hover */
.login-icon {
  font-size: 24px;
  color: #333;
  margin-left: 20px;
  transition: color 0.3s;
  cursor: pointer;
}

.login-icon:hover {
  color: red;
}
/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* Navbar khi cuộn */
.navbar.scrolled {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
